body{
    background-color:rgb(51, 51, 144);
    min-height: 200px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    
    
    
    
}
.main-1{ 
    min-height: 100px;
    
}


.main1{
    height:50px;
    width:50px;
    font-size: 20pt;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.main2{
    height:50px;
    width:50px;
    font-size: 20pt;
    background-color:cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

